#carpetas
/Datasets/E.laboral/ano-2020.csv
/Datasets/E.laboral/encuesta-nacional-de-empleo-año-referencia-2010-2017.pdf

/Datasets/ingresos/esi-2020---personas .csv
/Datasets/ingresos/personas-esi-2020.pdf

/Datasets/principal-encuestas/Final ENVIF 2020 (Muestra Total)_v3.sav
/Datasets/principal-encuestas/Manual de Uso BBDD.pdf